.meteor {
  /* Defaults */
  --meteor-size: 0.8rem;
  --meteor-width: 110px;
  --meteor-tail: 3px;

  animation: meteor 3s linear;
  animation-delay: var(--meteor-delay, 0s);
  animation-duration: var(--meteor-duration, 2s);
}

@keyframes meteor {
  0% {
    top: 0;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
