@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .shadow-input {
    box-shadow:
      0px 1px 0px 0px rgba(255, 255, 255, 0.06) inset,
      0px 10px 30px rgba(0, 0, 0, 0.25);
  }
}
